{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="description" content="{% trans "Linezap | Portal Home" %}">

        <title>{% block page-title %}{% endblock %} | Linezap</title>

        {% block full-head-css %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">

            {% comment %}<link rel="stylesheet" href="{% static 'css/fontello.css' %}">{% endcomment %}
            <link rel="stylesheet" href="{% static 'css/mara.min.css' %}" media="screen">
            <link rel="stylesheet" href="{% static 'css/prism.css' %}" media="screen">
            <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon32x32.ico' %}">
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       {% block secondary-css %}{% endblock %}
    </head>

    <body class="horizontal-navigation">
      <!-- Display messages in case of error/success -->
      {% block head-messages %}
        {% include "v1/shared/messages_display.html" %}
      {% endblock %}

        <!--<div class="page-loader-container"><div class="dizzy-gillespie"></div></div>-->
        <div class="wrapper vertical-sidebar" id="full-page">
            <div>{% include "navigation/topnav.html" %}</div>
            <div>{% include 'navigation/topbar.html' %}</div>

            <main id="content">
                <div id="page-content">
                  <div class="row section-header">
                    <h4 class="page-title">{% block page-h4 %}{% endblock %}</h4>
                  </div>
                   {% block content %}{% endblock %}
                </div>
            </main>

        
        </div>

        {% block full-head-js %}
            <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-2.1.4.min.js' %}"></script>

            <script type="text/javascript" src="{% static 'js/vendor/materialize/materialize.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/vendor/mara/mara.min.js' %}"></script>
            <script>
                $(function () {
                    ol();
                });
            </script>
        {% endblock %}

        {% block secundary-js %}{% endblock %}
    </body>
</html>
