{% load i18n %}

<aside class="sidebar-left">
    <ul class="side-nav fixed clearfix left" id="nav-mobile">
        <li>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-apps zmdi-hc-fw"></i>Dashboards <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{% url 'cv:home-cv' %}">{% trans "Curriculum" %}</a>
                            </li>
                            <li>
                                <a href="analytics.html">Analytics</a>
                            </li>
                            <li>
                                <a href="server.html">Server</a>
                            </li>
                            <li>
                                <a href="sales.html">Sales</a>
                            </li>
                            <li>
                                <a href="social.html">Social</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-google-pages "></i>Pages<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="magazine.html">Magazine</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="feed.html">Feed</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="mail.html">Mail</a></li>
                            <li><a href="login-signup.html">Sign Up</a></li>
                            <li><a href="login-signIn.html">Sign In</a></li>
                            <li><a href="lock-screen.html">Lock Screen</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="500.html">500</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-shopping-cart"></i>E-commerce<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="carousel.html">Carousel</a></li>
                            <li><a href="product-panel.html">Product Panel</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="orders.html">Orders</a></li>
                            <li><a href="discounts.html">Discounts</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>Forms<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="extra.html">Extra</a></li>
                            <li><a href="wysiwyg.html">Wysiwyg Editors</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="layouts.html" class="collapsible-header"><i class="zmdi zmdi-view-quilt"></i>Layouts</a>
                </li>
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-palette zmdi-hc-fw new-additions" data-new="2"></i>UI Elements<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="breadcrumb.html">Breadcrumbs</a></li>
                            <li><a href="colors.html">Colors</a></li>
                            <li><a href="collections.html">Collections</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="widgets.html">Widgets</a></li>
                            <li><a href="navbar.html">Navbars</a></li>
                            <li><a href="footers.html">Footers</a></li>
                            <li><a href="snackbars-toasts.html">Snackbars & toasts<span class="new badge sidenav-badge"></span></a></li>
                            <li><a href="tooltips.html">Tooltips<span class="new badge sidenav-badge"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect">
                        <i class="zmdi zmdi-eye zmdi-hc-fw"></i>Icons <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="collapsible-body icons-li">
                        <ul>
                            <li>
                                <a href="fontello.html" class="collapsible-header"><i class="zmdi zmdi-eye" ></i>Fontello</a>
                            </li>
                            <li>
                                <a href="google_material_design.html" class="collapsible-header" ><i class="zmdi zmdi-eye" ></i>Material Icons</a>
                            </li>
                            <li>
                                <a href="material_design_iconic.html" class="collapsible-header"><i class="zmdi zmdi-eye"></i>M D Iconic</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect"><i class="zmdi zmdi-collection-folder-image"></i>Media<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="sliders.html">Sliders</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="image-hover.html">Image Hover Effects</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<script>
    root();
    $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
        edge: typeof ThemeSettings != "undefined" && ThemeSettings.getCookie('reading-direction') == 'rtl' ? 'right' :'left', // Choose the horizontal origin
        closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    $('.collapsible').collapsible();
</script>