{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}

<nav class="horizontal-nav hide-on-med-and-down grey darken-1">
    <div class="nav-wrapper ">
        <ul class="">
            <li><a href="{% url 'cv:home-cv' %}">{% trans "Curriculum" %}</a></li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="e_commerce-items">Jobs<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="e_commerce-items" class="dropdown-content">
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Proposals</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="tables-items">Recruitment<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="tables-items" class="dropdown-content">
                    <li><a href="{% url 'applications:create' %}">{% trans "Create job application" %}</a></li>
                    <li><a href="{% url 'applications:list' %}">{% trans "My application List" %}</a></li>
                    <li><a href="#">Manage Recruitment workflows</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="forms-items">Connections<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="forms-items" class="dropdown-content">
                    <li><a href="elements.html">My network</a></li>
                    <li><a href="extra.html">Extra</a></li>
                </ul>
            </li>
            <li><a href="layouts.html">Notifications</a></li>
        </ul>
    </div>
</nav>
<ul class="side-nav fixed clearfix left  hide-on-large-only" id="nav-mobile">
    <li>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-apps zmdi-hc-fw black-text"></i>Dashboards <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="general.html">General</a>
                        </li>
                        <li>
                            <a href="analytics.html">Analytics</a>
                        </li>
                        <li>
                            <a href="server.html">Server</a>
                        </li>
                        <li>
                            <a href="sales.html">Sales</a>
                        </li>
                        <li>
                            <a href="social.html">Social</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-google-pages black-text"></i>Pages<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="magazine.html">Magazine</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="feed.html">Feed</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="mail.html">Mail</a></li>
                        <li><a href="login-signup.html">Sign Up</a></li>
                        <li><a href="login-signIn.html">Sign In</a></li>
                        <li><a href="lock-screen.html">Lock Screen</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="500.html">500</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect">
                    <i class="zmdi zmdi-chart zmdi-hc-fw black-text"></i>Charts <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i>
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="amCharts.html" class="collapsible-header" ><i class="zmdi zmdi-chart" ></i>AmCharts</a>
                        </li>
                        <li>
                            <a href="c3Charts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>C3 Charts</a>
                        </li>
                        <li>
                            <a href="flotCharts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>Flot Charts</a>
                        </li>
                        <li>
                            <a href="highCharts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>HighCharts</a>
                        </li>
                        <li>
                            <a href="morrisCharts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>Morris Charts</a>
                        </li>
                        <li>
                            <a href="nvd3Charts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>NvD3 Charts</a>
                        </li>
                        <li>
                            <a href="sparklineCharts.html" class="collapsible-header"><i class="zmdi zmdi-chart"></i>Sparkline Charts</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-shopping-cart black-text"></i>E-commerce<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="cards.html">Cards</a></li>
                        <li><a href="carousel.html">Carousel</a></li>
                        <li><a href="product-panel.html">Product Panel</a></li>
                        <li><a href="discounts.html">Discounts</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-grid"></i>Tables<i class="zmdi zmdi-chevron-down black-text"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="data-tables.html">Data Tables</a></li>
                        <li><a href="tables.html">Regular Tables</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>Forms<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="extra.html">Extra</a></li>
                        <li><a href="wysiwyg.html">Wysiwyg Editors</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="layouts.html" class="collapsible-header"><i class="zmdi zmdi-view-quilt black-text"></i>Layouts</a>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-palette zmdi-hc-fw black-text"></i>UI Elements<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="cards.html">Cards</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="breadcrumb.html">Breadcrumbs</a></li>
                        <li><a href="colors.html">Colors</a></li>
                        <li><a href="collections.html">Collections</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="widgets.html">Widgets</a></li>
                        <li><a href="navbar.html">Navbars</a></li>
                        <li><a href="footers.html">Footers</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect">
                    <i class="zmdi zmdi-eye zmdi-hc-fw black-text"></i>Icons <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i>
                </div>
                <div class="collapsible-body icons-li">
                    <ul>
                        <li>
                            <a href="fontello.html" class="collapsible-header"><i class="zmdi zmdi-eye" ></i>Fontello</a>
                        </li>
                        <li>
                            <a href="google_material_design.html" class="collapsible-header" ><i class="zmdi zmdi-eye" ></i>Material Icons</a>
                        </li>
                        <li>
                            <a href="material_design_iconic.html" class="collapsible-header"><i class="zmdi zmdi-eye"></i>M D Iconic</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect"><i class="zmdi zmdi-collection-folder-image black-text"></i>Media<i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="sliders.html">Sliders</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="image-hover.html">Image Hover Effects</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
<script>
    root();
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: true, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    $('.collapsible').collapsible();
</script>
