{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}

<header id="header">
    <div class="navbar">
        <nav class="grey darken-2">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full waves-effect waves-light"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="{% url 'homepage' %}" class="brand-logo">linezap</a>
                    </li>
                </ul>
                <div class="search-top-bar hide-on-med-and-down">
                    <input type="search" id="search" autocomplete="false" class="autocomplete search-top-bar-input z-depth-2" name="search-state" placeholder="Search">
                    <i class="material-icons zmdi zmdi-search"></i>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='dropdown-button notif-btn waves-effect waves-light' href='#' data-activates='dropdown20'><div class="i-notifications"></div> <span class="badge-green">3</span></a>
                        <ul id='dropdown20' class='notif-dropdown dropdown-content'>
                            <div id="search-hover"></div>
                            <li><a href="mail.html"><i class="zmdi zmdi-email"></i> You have 12 messages </a></li>
                            <li><a class="tabInbox" href="timeline.html"><i class="zmdi zmdi-time-countdown"></i> You have 2 upcoming activities on your Timeline </a></li>
                            <li><a href="feed.html"><i class="zmdi zmdi-notifications"></i> 3 new posts in your Feed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown3' data-beloworigin="true">
                            <span class="profile-img-ribbon"></span>
                                <img class="responsive-img profile-img" src="{% static 'images/john.png' %}" alt="john"/>
                                    <i class="zmdi zmdi-caret-down drop-down-icon"></i>
                        </a>
                        <ul id='dropdown3' class='create-dropdown dropdown-content'>
                            <li><a href="profile.html"><i class="zmdi zmdi-account-circle"></i>Profile</a></li>
                            <li><a href="calendar.html"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i>Calendar</a></li>
                            <li><a href={% url 'logout' %}><i class="material-icons dp48">input</i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<script>
    $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    $('.collapsible').collapsible();
    $('.notif-btn').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    $('.drop-down-profile').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });

    // autocomplete simulation
    var countries = [{value: "Alabama"}, {value: "Alaska"}, { value: "Arizona"}, {value: "Arkansas"}, {value: "California"},
        {value: "Colorado"}, {value: "Connecticut"}, {value: "District of Columbia"}, {value: "Delaware"}, {value: "Florida"},
        {value: "Georgia"}, {value: "Hawaii"}, {value: "Idaho"}, { value: "Indiana"}, {value: "Iowa"}, {value: "Kansas"}, {value: "Kentucky"},
        {value: "Louisiana"}, {value: "Maine"}
    ];
    var input = $('.search-top-bar #search');
    if (input.hasClass('autocomplete')) {
        var inputDiv = input.closest('div');
        var searchHtml = '<ul class="autocomplete-results hide">';
        for (var i = 0; i < countries.length; i++) {
            searchHtml += '<li class="result"><span>' + countries[i]['value'] + '</span></li>';
        }
        searchHtml += '</ul>';
        inputDiv.append(searchHtml);
        input.on('keyup', input, function() {
            var $val = input.val().trim(),
                    $select = $('.autocomplete-results');
            $select.css('width',input.width());
            if ($val != '') {
                $select.children('li').addClass('hide');
                $select.children('li').filter(function() {
                    $select.removeClass('hide');
                    var check = true;
                    for (var i in $val) {
                        if ($val[i].toLowerCase() !== $(this).text().toLowerCase()[i])
                            check = false;
                    }
                    return check ? $(this).text().toLowerCase().indexOf($val.toLowerCase()) !== -1 : false;
                }).removeClass('hide');
            } else {
                $select.children('li').addClass('hide');
            }
        });
        $('.result').click(function() {
            input.val($(this).text().trim());
            $('.result').addClass('hide');
        });
        $("#search-hover").click(function(e){
            $("#dropdown2").hide();
            $("#search").trigger("focus");
        });
    }
</script>
