{% extends 'v1/auth/base.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}

{% block page-title %}Sign-in{% endblock %}

{% block content %}
<div class=" center signin-page"  id="full-page">
        <div class=" black white-text signin-content">
            <h1 class="center-align mTitle" style="font-family: BaronFont">{% trans "LINEZAP" %}</h1>
            <div class=" white signUpContainer center">

                <form id="login-form" action="." method="POST">
                  {% csrf_token %}
                  
                    <div class="signUpContent">
                        <h6 class="black-text center-align">{% trans "Sign in with your Linezap account" %}</h6>
                        {% include 'v1/partials/forms/material_field_2_12.html' with field=form.email %}
                        {% include 'v1/partials/forms/material_field_2_12.html' with field=form.password %}
                        <button class="waves-effect waves-light btn signInButton">{% trans "Login" %}</button>
                    </div>
                </form>
                <a href="{% url 'sign-up' %}" class="waves-effect waves-light btn signInButton">{% trans "Sign up" %}</a>

            </div>
        </div>
    </div>
{% endblock %}
