{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}
{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}

<!DOCTYPE html>
<html class="black">

{% block full-head-css %}
    <head lang="en" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{% trans 'Linezap - Find your job in zap of a second' %}">
        <title>{% block page-title %}{% endblock %} | Linezap</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon32x32.ico'%}">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/assets/css/fontello.css' %}">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/mara.min.css' %}"  media="screen"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
{% endblock %}

{# All the content goes here#}
    <body class="black">
        <!-- Display messages in case of error/success -->
        {% block head-messages %}
          {% include "v1/shared/messages_display.html" %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block full-head-js  %}
          <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-2.1.4.min.js' %}"></script>
          <script type="text/javascript" src="{% static 'js/vendor/materialize/materialize.js' %}"></script>
          <script type="text/javascript" src="{% static 'js/vendor/mara/mara.min.js' %}"></script>
        {% endblock  %}

        {% block secundary-js %}{% endblock %}
    </body>
</html>
