{% if messages %}
    {% for message in messages %}
        <!-- <div class="col s12 m12 l12 {{ message.tags }}"> -->
        <div class="col s12 m6">
            <div class="card 
                  {% ifequal message.tags 'success' %}green{% endifequal %}
                  {% ifequal message.tags 'error' %}red{% endifequal %}
                  {% ifequal message.tags 'info' %}ligh-blue{% endifequal %}
                  {% ifequal message.tags 'warning' %}orange{% endifequal %}">

                {% ifequal message.tags 'success' %} <i class="icon-check-1"></i>{% endifequal %}
                {% ifequal message.tags 'error' %} <i class="icon-error"></i>{% endifequal %}
                {% ifequal message.tags 'info' %} <i class="icon-info"></i>{% endifequal %}
                {% ifequal message.tags 'warning' %} <i class="icon-warning"></i>{% endifequal %}

                <div class="card-content white-text">{{ message }}</div>
                <a href="javascript:void(0)" class="closed">&times;</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
