{% load i18n %}

<div class="col s12">
    <div class="input-field  help-text-input col m10 s12 black-text align-left">
        {{ field }}
        <label for="{{ field.label }}" class="align-left green-text">{{ field.label }}</label>
        {% if field.help_text %}<small class="align-left green-text hide-on-med-and-down">{{ field.help_text}}</small>{% endif %}
    </div>
    {% if field.errors %}<span class="materialize-red-text">{{ field.errors }}</span>{% endif %}
    {% if field.non_field_errors  %}
        <small class="materialize-red-text">
            {% if field.non_field_errors  %}
                {{ field.non_field_errors  }}
            {% else %}
                {% if custom_error %}
                    {{ custom_error }}
                {% else %}
                    {% trans 'This field is required' %}
                {% endif %}
            {% endif %}
        </small>
    {% endif %}
</div>