<footer>
    <div class="row margin">
        <div class="col s12 m12 l12">
            <div class="foot4">
            <div class="f-cont valign-wrapper f-foot col s12 m12 l12">
                <div class="left-align valign col s12 m12 l6">
                    <p class="copy">&copy;Copyright 2017 LxCOM - All Rights Reserved</p>
                </div>
                <div class="social-icons valign right-align col s6 m6 l6">
                    <a href=""><i class="zmdi zmdi-twitter"></i></a>
                    <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                    <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                    <a href=""><i class="zmdi zmdi-instagram"></i></a>
                    <a href=""><i class="zmdi zmdi-behance"></i></a>
                    <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                </div>
            </div>
        </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="foot4">
                <div class="f-cont social-icons">
                    <div class="valign right-align">
                        <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                        <a href=""><i class="zmdi zmdi-twitter"></i></a>
                        <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                        <a href=""><i class="zmdi zmdi-instagram"></i></a>
                        <p class="copy">&copy;Copyright 2016 Mara - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>