{% extends "v1/core/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}

{% block page-title %}{% trans "My Job application" %}{% endblock %}

{% block content %}
<div class="container center">
    <div class="m10 s12">
        <table class="responsive-table striped">
            <thead>
                <th data-field="slug">{% trans "Reference" %}</th>
                <th data-field="title">{% trans "Position/Role" %}</th>
                <th data-field="expiration_date">{% trans "Expiration Date" %}</th>
                <th data-field="applicant_no">{% trans "No. Applicants" %}</th>
            </thead>

            <tbody>
                {% for job_application in user_applications %}
                    <tr>
                        <td><a href="{% url 'applications:create' %}">{{ job_application.slug }}</a></td>
                        <td>{{ job_application.title }}</td>
                        <td>{{ job_application.expiration_date }}</td>
                        <td>N.A</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
