{% extends 'v1/core/base.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load statici18n %}
{% load urlhelpers %}

{% block page-title %}{% trans "Job application" %}{% endblock %}

{% block content %}
    <div class="container center"  id="job-application-page">
        <form id="job-application-form" action="." method="POST">
            {% csrf_token %}
            <div class="card s12 m12 l12">
                <span class="card-title">Create a job application</span>
                <div class="card-content">
                    <div class="col s12 m12 l10">
                        <div class="input-field col m2 l2">
                            <p>{% trans "Role" %}</p>
                        </div>
                        <div class="input-field col s12 m10 l10">
                            <i class="material-icons prefix">person outline</i>
                            {{ form.title }}
                        </div>
                    </div>

                    <div class="col s12 m12 l10">
                        <div class="input-field col m2 l2">
                            <p>{% trans "Start date" %}</p>
                        </div>
                        <div class="input-field col s12 m10 l10">
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            {{ form.start_date }}
                        </div>
                    </div>

                    <div class="col s12 m12 l10">
                        <div class="input-field col m2 l2">
                            <p>{% trans "Expiration date" %}</p>
                        </div>
                        <div class="input-field col s12 m10 l10">
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            {{ form.expiration_date }}
                        </div>
                    </div>

                    <div class="col s12 m12 l10">
                        <div class="input-field col m2 l2">
                            <p>{% trans "Company" %}</p>
                        </div>
                        <div class="input-field col s12 m10 l10">
                            <i class="material-icons prefix">room</i>
                            {{ form.company }}
                        </div>
                    </div>

                    <div class="col s12 m12 l10">
                        <div class="input-field col m2 l2">
                            <p>{% trans "Description" %}</p>
                        </div>
                        <div class="input-field col s12 m10 l10">
                            {{ form.description }}
                        </div>
                    </div>

                    <!-- List of possible requirements -->

                    <!-- Special panel with details of company (only if account is part of a compay) -->

                    <!-- Panel with the option to associate this application with a workflow -->
                    <div class="col s12 m10 l10">
                    <button class="waves-effect waves-light btn green darken-1">{% trans "Create" %}</button>
                    <button class="waves-effect waves-light btn red">{% trans "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
